<link rel="stylesheet" href="/style.css">

<div id="nav">
  <div id="nav-wrap">
    <div class="nav-logo">
      <a href="/">Multer Upload</a>
    </div>
    <div class="nav-menu">
      <a href="/">Home</a>
      <a href="/add">Add Image</a>
    </div>
  </div>
</div>