<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include ('./partials/nav.ejs') %>
  <div id="add-img">
    <form action="/add" enctype="multipart/form-data" method="post" class="form">
      <input type="file" name="img" id="file" class="input">
      <input type="text" name="deskripsi" id="desc" placeholder="Deskripsi" class="input">
      <button type="submit" class="input">Submit</button>
    </form>
  </div>
</body>
</html>